.center{
    text-align: center;
}
pre{
    background-color: rgb(186, 186, 186);
}
.color{
    color:brown;
}
.qwer{
    color:black;
}
.small{
    font-size: small;
}
span{
    background-color: rgb(221, 221, 221);
    color:rgb(0, 158, 158);
    
}